body {
margin: 0;
font-family: Arial, sans-serif;
}
/* CSS for header */
.header {
    display: flex;
justify-content: space-between;
align-items: center;
background-color: #f5f5f5;
padding: 20px;
}
.header .logo {
font-size: 25px;
color: #000;
text-decoration: none;
}
.nav-items {
display: flex;
background-color: #f5f5f5;
}
.nav-items a {
text-decoration: none;
color: #000;
padding: 20px;
border-right: 1px solid #ccc;
}
.nav-items a:last-child {
border-right: none;
}
/* CSS for main element */
.intro {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 520px;
background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
url("https://images.unsplash.com/photo-1644489263914-eef937e00343?ixlib=rb-
4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&aut
o=format&fit=crop&w=1170&q=80");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
color: #fff;
padding: 40px;
text-align: center;
}
.intro h1 {
font-size: 60px;
font-weight: bold;
text-transform: uppercase;
margin: 0;
}
.intro p {
font-size: 24px;
margin: 20px 0;
font-weight: bold;
}
.intro button {
background-color: #5edaf0;
color: #000;
padding: 10px 25px;
border: none;
border-radius: 5px;
font-size: 20px;
font-weight: bold;
cursor: pointer;
box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
transition: background-color 0.3s, color 0.3s;
}
.intro button:hover {
background-color: #000;
color: #fff;
}
.achievements {
display: flex;
justify-content: space-around;
align-items: flex-start;
flex-wrap: wrap;
 padding: 40px;
background-color: #f5f5f5;
margin: 40px 0;
}
.achievements .work {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 30px;
}
.achievements .work i {
font-size: 40px;
color: #000;
margin-bottom: 20px;
}
.achievements .work h3 {
    font-size: 24px;
font-weight: bold;
margin: 0;
}
.achievements .work p {
font-size: 18px;
text-align: center;
}
/* CSS for footer */
.footer {
background-color: #000;
color: #fff;
padding: 20px;
text-align: center;
}
.footer p {
margin: 0;
}
.footer .footer-links {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-top: 20px;
}
.footer .footer-links a {
text-decoration: none;
color: #fff;
margin: 10px;
padding: 5px;
border: 1px solid #fff;
border-radius: 5px;
transition: background-color 0.3s, color 0.3s;
}
.footer .footer-links a:hover {
background-color: #fff;
color: #000;
}
